extends ../layouts/page
include ../mixins/nav

block head
  meta(name="keyword", content="Manjit Karve")

block content
  #contactContent.mainContent
    h2 Find me on
    - var node=menu.nodes[2]["nodes"][1];
    +l2MenuContent(node)
