include ../mixins/nav
extends ../layouts/page

block head
  meta(name="keyword", content="Manjit Karve")

block content
  #contactContent.mainContent
    h2 Here I am
    - var node=menu.nodes[2]["nodes"][1];
    +l2MenuContent(node)
