include ../mixins/nav
extends ../layouts/page

block content
  #portfolioContent.mainContent
    h2 Portfolio
    #portfolioLayout.columns
      .col
        section.artifactType
          h3 UI/UX Design/Dev
          .artifacts
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/cronos/cronos-roadmaps-1.png")
                div.description.short
                  p An IT status reporting, and roadmap building/tracking application.
                  p <strong>Role:</strong>Designer and Developer
                  p: a.moreLink(href='javascript:void(0)') More...
                div.description.full
                  p A PWA used for creating and tracking long term roadmaps for projects and business verticals. Enables resource planning and prioritization.  
              article.artifact
                img(src="/images/portfolio-items/cronos/cronos1.png")
                div.description.full
                  p The UI is a JS application communicating with a .NET REST API residing in a SharePoint container. <strong>I was the UX designer and front-end developer</strong>. 
              article.artifact
                img(src="/images/portfolio-items/cronos/cronos3.png")
                div.description.full
                  p The application also has a status reporting component that feeds the roadmap status and is in turn updated from the in-house issue tracking software. 
              article.artifact
                img(src="/images/portfolio-items/cronos/cronos2.png")
                div.description.full
                  p I was the design consultant for the status reporting part.  
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/ImmigrationSystem.png")
                .description.short
                  p An employee immigration portal for keeping track of their immigration status, documents, travel approvals and arrangements.
                  p <strong>Role:</strong> UX architect
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p <strong>I was the UX architect for this project.</strong> I involved in requirement gathering, generating personas, taskflows and detailed workflow mockups.
                  p I also pushed the development team into building this as a PWA using Angular and REST APIs.  
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/sec-analysis/Mockup06.png")
                .description.short
                  p A tool to create, analyse and compare financial derivatives.
                  p <strong>Role:</strong> UX Designer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p Used by senior officials to apply various combinations of parameters in order to analyse the behavior of financial derivative instruments. This was a redesign of an existing product to make use of . <strong>I was the UI designer</strong>.
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/PostTradeWFTracker.png")
                .description.short
                  p A site to keep track of the month-end statement generation, identify failure points and delays.
                  p <strong>Roles:</strong> UX Designer, POC developer.
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p A monitoring site to keep track of the month-end statement generation for funds, identify failure points and delays. I designed and developed a proof of concept demo in HTML/CSS/JS that was later developed as a flex application.
                  p <strong>I was the key designer and concept developer for this.</strong>
              article.artifact
                img(src="/images/portfolio-items/InstrumentTrackerSummary.png")
                .description.full
                  p What started as the month-end workflow tracker was soon expanded for tracking daily books closing. This is a mockup for the summary dashboard shown to senior management when they log in. It shows the status of funds they manage.
                  p I was the consulting designer for the rest of the application. 
      .col
        section.artifactType
          h3 Website Dev
          .artifacts
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/shaw-website.png")
                .description.short
                  p I was the maintainer of the DESCO corporate website for my last year there.
                  p <strong>Roles:</strong> Front-end Developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p I was the front-end developer of the career pages...
              article.artifact
                img(src="/images/portfolio-items/shaw-website-profiles.png")
                .description.full
                  p ...and the employee video profiles pages. I integrated the Wistia video player with the site as well.
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/shawdiscfellowship.png")
                .description.short
                  p I also developed some of the promotional one-off websites.
                  p <strong>Roles:</strong> Website Developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p I also developed some of the promotional one-off websites. This one had animation, responsive design and inline styled SVG for images.
      .col
        section.artifactType
          h3 Responsive/Mobile Dev
          .artifacts
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/shaw-mob.png")
                .description.short
                  p Developed the DESCO site's mobile version as well.
                  p <strong>Roles:</strong> Front-end Developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p The DESCO website had a difficult content structure that couldn't be converted to mobile through CSS alone. I devised a content separation strategy based on SSIs and apache rewrite rules to allow the same content to be used on both the full-sized and the mobile website.
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/shawdiscfellowship-mob.png")
                .description.short
                  p The Discovery Fellowship site was designed and coded to be responsive.  
                  p <strong>Roles:</strong> Front-end Developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p Rearranges and resizes content while keeping font-sizes readable.
        section.artifactType
          h3 Mobile App Dev
          .artifacts
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/RetailFinancialInvestmentHelper-Full-resized.png")
                .description.short
                  p Designed and developed a prototype finance app.
                  p <strong>Roles:</strong> UX Designer and Developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p Designed and developed a prototype in Sencha Touch that would leverage the firm's knowledge of quantitative modelling of financial instruments for retail investors for a fee.

block overlayContent
  a#prev.nav(delta="-1")
    include ../../public/images/chevron-circle-left.svg
  a#next.nav(delta="1")
    include ../../public/images/chevron-circle-right.svg
  #imageContainer
