extends ../layouts/page
include ../mixins/nav

block content
  #portfolioContent.mainContent
    h2 Portfolio
    p#disclaimer To comply with confidentiality agreements I have omitted and obfuscated confidential information. These designs are a reinterpretation of the original.
    #portfolioLayout.columns
      .col
        section.artifactType
          h3 UI/UX Design/Dev
          .artifacts
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/cronos/cronos-roadmaps-1.png")
                div.description.short
                  p A status reporting and roadmap tracking application for large IT departments.
                  p <strong>Role:</strong> Designer and developer
                  p: a.moreLink(href='javascript:void(0)') More...
                div.description.full
                  p A progressive web application used for creating and tracking long term roadmaps for projects and business verticals. Enabled resource planning and prioritization.  
              article.artifact
                img(src="/images/portfolio-items/cronos/cronos1.png")
                div.description.full
                  p The UI was a JS application communicating with a .NET REST API residing in a SharePoint container. <strong>I was the UX designer and front-end developer</strong>. 
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/ImmigrationSystem.png")
                .description.short
                  p An immigration portal to keep track of employees' immigration status, documents, travel approvals and arrangements.
                  p <strong>Role:</strong> UX architect
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p <strong>As the UX architect</strong> I was involved in requirement gathering, generating personas, taskflows, and detailed workflow mockups.
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/sec-analyser.png")
                .description.short
                  p A tool to create, analyze, and compare financial derivatives.
                  p <strong>Role:</strong> UX designer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p Tweak various combinations of parameters to analyze the behavior of derivative instruments. <strong>I redesigned the UI</strong>.
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/PostTradeWFTracker.png")
                .description.short
                  p A monitoring application that tracked month-end closing and identified failure points and bottlenecks.
                  p <strong>Roles:</strong> UX designer, POC developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p This application was used to monitor month-end closing statements. Its key feature was to identify failure points and delays. I <strong>designed and developed</strong> a proof of concept demo in HTML/CSS/JS.
              article.artifact
                img(src="/images/portfolio-items/InstrumentTrackerSummary.png")
                .description.full
                  p This application was expanded to include daily closing. This is a mockup for the summary dashboard shown on login.
      .col
        section.artifactType
          h3 Website Dev
          .artifacts
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/shaw-website.png")
                .description.short
                  p Responsible for maintaining the corporate website.
                  p <strong>Role:</strong> Front-end developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p I was the front-end developer of the career pages...
              article.artifact
                img(src="/images/portfolio-items/shaw-website-profiles.png")
                .description.full
                  p ...and the employee video profiles pages. I integrated the Wistia video player with the site as well.
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/shawdiscfellowship.png")
                .description.short
                  p I also developed one-off promotional websites.
                  p <strong>Roles:</strong> Website developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p This one-off promotional website I developed had animation, responsive design, and transforming SVG for images.
        section.artifactType
          h3 Artwork
          .artifacts
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/wallpapers/swiss.png")
                .description.short
                  p Free to download desktop wallpapers
                  p <strong>Role:</strong> Artist
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p "Swiss," as in Swiss cheese.
                  p Download the SVG file from my github project <a href="https://github.com/manjitkarve/wallpapers/tree/master/general" target="_blank">wallpapers</a>.
              article.artifact
                img(src="/images/portfolio-items/wallpapers/bricks.png")
                .description.full
                  p "Brick wall"
                  p Download the SVG file from my github project <a href="https://github.com/manjitkarve/wallpapers/tree/master/general" target="_blank">wallpapers</a>.
              article.artifact
                img(src="/images/portfolio-items/wallpapers/checkerboard-mat.png")
                .description.full
                  p "Checkerboard mat"
                  p Download the SVG file from my github project <a href="https://github.com/manjitkarve/wallpapers/tree/master/general" target="_blank">wallpapers</a>.
              article.artifact
                img(src="/images/portfolio-items/wallpapers/pink-ungreen.png")
                .description.full
                  p "Ungreen," inspired by a <a href="https://youtu.be/S9dqJRyk0YM" target="_blank">YouTube video</a> by <a href="https://twitter.com/minutephysics">@minutephysics</a>. The video talks about how there is no actual pink light and that when you see pink, you actually see a combination of blue and red light, i.e., white light minus green.
                  p Download the SVG file from my github project <a href="https://github.com/manjitkarve/wallpapers/tree/master/general" target="_blank">wallpapers</a>.
              article.artifact
                img(src="/images/portfolio-items/wallpapers/serpent.png")
                .description.full
                  p "Serpent!"
                  p Download the SVG file from my github project <a href="https://github.com/manjitkarve/wallpapers/tree/master/general" target="_blank">wallpapers</a>.
              article.artifact
                img(src="/images/portfolio-items/wallpapers/plug-and-play.png")
                .description.full
                  p "Plug and play": Let's jack in!
                  p Download the SVG file from my github project <a href="https://github.com/manjitkarve/wallpapers/tree/master/general" target="_blank">wallpapers</a>.
      .col
        section.artifactType
          h3 Responsive/Mobile Dev
          .artifacts
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/shaw-mob.png")
                .description.short
                  p Developed this site's mobile version.
                  p <strong>Roles:</strong> Front-end developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p This website had a difficult content structure that couldn't be converted to mobile through CSS alone. I devised a content separation strategy based on SSIs and Apache rewrite rules to allow the same content to be used on both the full-sized and the mobile website.
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/shawdiscfellowship-mob.png")
                .description.short
                  p This site was designed and coded to be responsive.  
                  p <strong>Roles:</strong> Front-end developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p Rearranges and resizes content while keeping fontsizes readable.
        section.artifactType
          h3 Mobile App Dev
          .artifacts
            div.artifactSet.inPage
              article.artifact.default
                img(src="/images/portfolio-items/RetailFinancialInvestmentHelper-Full-resized.png")
                .description.short
                  p Designed and developed a prototype finance app.
                  p <strong>Roles:</strong> UX designer and developer
                  p: a.moreLink(href='javascript:void(0)') More...
                .description.full
                  p Designed and developed a prototype in Sencha Touch to track financial investments for retail investors.

block overlayContent
  a#prev.nav(delta="-1")
    include ../../public/images/chevron-circle-left.svg
  a#next.nav(delta="1")
    include ../../public/images/chevron-circle-right.svg
  #imageContainer
