block beginScripts
//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
//- Safely remove this block if you are not targeting IE8
//-[if lt IE 9]
    script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
    script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
//-[endif]
script(type="text/javascript", src='/js/zepto.custom.min.js')
script(type="text/javascript", src="/js/jss.min.js")
script(type="text/javascript", src="/js/script.js")
