link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

//- Customise the stylesheet for your site by editing /public/styles/site.sass
//- link(href="/styles/site.css", rel="stylesheet")

//- This file provides the default styling for the KeystoneJS Content Editor
//- if user && user.canAccessKeystone
//-     link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

link(rel='stylesheet', href='/styles/style.css')
block styles
block css