$primary-dark:   #0288D1;
$primary-main:   #03A9F4;
$primary-light:  #B3E5FC;

$primary-orth-main:  #56798b;
$primary-orth-alt:   #3e4f58;
$primary-orth-dark:  #1f3038;

$secondary-dark:   #c00053;
$secondary-main:   #ff0a73;
$secondary-light:  #ff4081;

$grey-darkest:   #000000;
$grey-dark:      #212121;
$grey-main:      #727272;
$grey-light:     #b6b6b6;
$grey-lightest:  #ffffff;

$accent-color: $secondary-main;
